<app-nav></app-nav>
<div class="container-fluid mt-4 p-5">
    <div class="row">
        <aside class="col-md-offset-1 col-md-1 mt-5">
            <button type="button" id="btn-filter" class="btn" (click)="filterModal(filterUser)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
            <button type="button" id="btn-admin" class="btn mt-2" (click)="createModal(createAdmin)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-shield-shaded"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 14.933a1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56" />
                </svg>
            </button>
        </aside>
        <div class="col-md-offset-1 col-md-11 mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>avatar</th>
                        <th>username</th>
                        <th>fullname</th>
                        <th>email</th>
                        <th>phone</th>
                        <th>descrip</th>
                        <th>role</th>
                        <th>created</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (u of userList; track $index) {
                    <tr>
                        <td class="pt-3">
                            <img src={{u.avatar}} class="avatar" alt="Avatar">
                        </td>
                        <td class="pt-4">{{u.username| slice:0:14}}</td>
                        <td class="pt-4">{{u.fullName| slice:0:14}}</td>
                        <td class="pt-4">{{u.email| slice:0:18}}</td>
                        <td class="pt-4">{{u.phoneNumber}}</td>
                        <td class="pt-4">{{u.personalDescription | slice:0:25}}</td>
                        <td class="pt-4">
                            @if (u.roles == '[DRIVER]') {
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
                                class="bi bi-car-front-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2m10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17s3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z" />
                            </svg>
                            }
                            @if (u.roles == '[PASSENGER]') {
                            <img class="img-fluid rounded" loading="lazy" src="../../../assets/img/passenger_icon.png"
                                width="17" alt="Passenger icon">
                            }
                            @if (u.roles == '[ADMIN]') {
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
                                class="bi bi-shield-shaded" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 14.933a1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56" />
                            </svg>
                            }

                        </td>
                        <td class="pt-4">{{u.createdAt | date: 'dd/M/YYYY, hh:mm'}}</td>
                        <td class="pt-3">
                            <button type="button" class="btn" (click)="editModal(editUser, u.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                </svg>
                            </button>
                        </td>
                        <td class="pt-3">
                            <button type="button" class="btn" (click)="deleteModal(deleteUser, u.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center pt-3">
        <ngb-pagination [collectionSize]="count" [pageSize]="8" [rotate]="true" [(page)]="pageNumber"
            (pageChange)="loadNewPage()" aria-label="Default pagination"></ngb-pagination>
    </div>
</div>


<ng-template #editUser let-modal>
    <div>
        <h1 class="modal-title p-3 fw-bold">Edit User</h1>
    </div>
    <div class="modal-body">
        <form id="modifyUser" [formGroup]="modifyUser" (ngSubmit)="editUs()">
            <div class="mb-3">
                <input type="text" class="form-control" id="avatar" placeholder="Avatar" formControlName="avatar"
                    required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="fullName" placeholder="Full name" formControlName="fullName"
                    required>
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email"
                    required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number"
                    formControlName="phoneNumber" required>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="personalDescription" placeholder="Personal description"
                    formControlName="personalDescription" required></textarea>
            </div>
            <button type="submit" class="btn w-100 mb-2" form="modifyUser" [disabled]="!modifyUser.valid">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-pencil-square"
                    viewBox="0 0 16 16">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg>
            </button>
        </form>

    </div>
</ng-template>


<ng-template #deleteUser let-modal>
    <div>
        <h4 class="modal-title p-3 fw-bold text-dark">Delete this user along with all his data?</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <button type="submit" class="btn col-md-5 m-3 text-white" (click)="deleteUs()">
                Yes
            </button>
            <button type="submit" class="btn col-md-5 m-3 text-white" (click)="closeModal()">
                No
            </button>
        </div>
    </div>
</ng-template>


<ng-template #createAdmin let-modal>
    <div>
        <h1 class="modal-title p-3 fw-bold">Create Admin</h1>
    </div>
    <div class="modal-body">
        <form id="newAdmin" [formGroup]="newAdmin" (ngSubmit)="createAd()">
            <div class="mb-3">
                <input type="text" class="form-control" id="avatar" placeholder="Avatar" formControlName="avatar"
                    required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username"
                    required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password"
                    formControlName="password" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="fullName" placeholder="Full name" formControlName="fullName"
                    required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="phoneNumber" placeholder="Phone number"
                    formControlName="phoneNumber" required>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="personalDescription" placeholder="Personal description"
                    formControlName="personalDescription" required></textarea>
            </div>
            <button type="submit" class="btn w-100 mb-2" form="newAdmin" [disabled]="!newAdmin.valid">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-pencil-square"
                    viewBox="0 0 16 16">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg>
            </button>
        </form>
    </div>
</ng-template>

<ng-template #filterUser let-modal>
    <div>
        <h1 class="modal-title p-3 fw-bold">Filter UseRole</h1>
    </div>
    <div class="modal-body mb-2">
        <div class="form-group">
            <select id="roleSelect" class="form-control" (change)="onRoleChange($event)">
                <option>Select role</option>
                <option value="all">All</option>
                <option value="admin">Admin</option>
                <option value="driver">Driver</option>
                <option value="passenger">Passenger</option>
            </select>
        </div>
    </div>
</ng-template>