<app-nav></app-nav>
<div class="container-fluid mt-4 p-5">
    <div class="row">
        <aside class="col-md-offset-1 col-md-1 mt-5">
            <button type="button" id="btn-filter" class="btn" (click)="filterModal(filterTrip)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
        </aside>
        <div class="col-md-offset-1 col-md-11 mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>dep. place</th>
                        <th>arrival place</th>
                        <th>dep. time</th>
                        <th>est. duration</th>
                        <th>arrival time</th>
                        <th>price</th>
                        <th>trip desc.</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (t of tripList; track $index) {
                    <tr>
                        <td class="pt-4">{{t.departurePlace | slice:0:15}}</td>
                        <td class="pt-4">{{t.arrivalPlace | slice:0:15}}</td>
                        <td class="pt-4">{{t.departureTime | date: 'dd/M/YYYY, hh:mm'}}</td>
                        <td class="pt-4">{{t.estimatedDuration}} min</td>
                        <td class="pt-4">{{t.arrivalTime | date: 'dd/M/YYYY, hh:mm'}}</td>
                        <td class="pt-4">{{t.price}} €</td>
                        <td class="pt-4">{{t.tripDescription | slice:0:35}}</td>
                        <td class="pt-3">
                            <button type="button" class="btn" (click)="editModal(editTrip, t.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                </svg>
                            </button>
                        </td>
                        <td class="pt-3">
                            <button type="button" class="btn" (click)="deleteModal(deleteTrip, t.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center pt-3">
        <ngb-pagination [collectionSize]="count" [pageSize]="8" [rotate]="true" [(page)]="pageNumber"
            (pageChange)="loadNewPage()" aria-label="Default pagination"></ngb-pagination>
    </div>
</div>

<ng-template #editTrip let-modal>
    <div>
        <h4 class="modal-title p-3 fw-bold">Edit Trip</h4>
    </div>
    <div class="modal-body">
        <form id="modifyTrip" [formGroup]="modifyTrip" (ngSubmit)="editTr()">
            <div class="mb-3">
                <input type="text" class="form-control" id="departurePlace" placeholder="Departure Place"
                    formControlName="departurePlace" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="arrivalPlace" placeholder="Arrival Place"
                    formControlName="arrivalPlace" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="departureTime" placeholder="YYYY-MM-DD"
                    formControlName="departureTime" required>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="number" class="form-control" id="estimatedDuration" placeholder="Estimated duration"
                        formControlName="estimatedDuration" required>
                </div>
                <div class="col-md-6 mb-3">
                    <input type="number" class="form-control" id="price" placeholder="Price" formControlName="price"
                        required>
                </div>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="tripDescription" placeholder="Trip description"
                    formControlName="tripDescription" required></textarea>
            </div>
            <button type="submit" class="btn w-100 mb-2" form="modifyTrip" [disabled]="!modifyTrip.valid">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-pencil-square"
                    viewBox="0 0 16 16">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg>
            </button>
        </form>
    </div>
</ng-template>

<ng-template #deleteTrip let-modal>
    <div>
        <h4 class="modal-title p-3 fw-bold text-dark">Delete this trip?</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <button type="submit" class="btn col-md-5 m-3 text-white" (click)="deleteTr()">
                Yes
            </button>
            <button type="submit" class="btn col-md-5 m-3 text-white" (click)="closeModal()">
                No
            </button>
        </div>
    </div>
</ng-template>

<ng-template #filterTrip let-modal>
    <div>
        <h4 class="modal-title p-3 fw-bold">Find Trip</h4>
    </div>
    <div class="modal-body">
        <form id="findTrip" [formGroup]="findTrip" (ngSubmit)="findTr()">
            <div class="mb-3">
                <input type="text" class="form-control" id="departurePlace" placeholder="Departure Place"
                    formControlName="departurePlace" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="arrivalPlace" placeholder="Arrival Place"
                    formControlName="arrivalPlace" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="departureDate" placeholder="YYYY-MM-DD"
                    formControlName="departureDate" required>
            </div>
            <button type="submit" class="btn w-100 mb-2" form="findTrip" [disabled]="!findTrip.valid">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
        </form>
    </div>
</ng-template>